<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.baricio.playstream"
    version="0.2.13">
    <name>PlayStream</name>
    <description>This plugin paly streaming audios into AAC+ and MP4 streamings using aacdecoder-android.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,AAC+,Streaming,Audio,Player,Icecast</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/PlayStream.js" name="PlayStream">
        <clobbers target="PlayStream" />
    </js-module>
	
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PlayStream" >
                <param name="android-package" value="PlayStream"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/PlayStream.java" target-dir="src/" />
		<source-file src="src/android/aacdecoder.jar" target-dir="libs/" framework="true" />
		<source-file src="src/android/armeabi.jar" target-dir="libs/" framework="true" />
    </platform>
	
</plugin>